*~
*.pyc
*.cpython*.so
__pycache__
../build
dist
*egg-info
/tests/*.png
/helpers/*.png
/helpers/*.png.pdf
/helpers/figs.pdf
/notes/*/_region_*
/notes/*/auto
/notes/*/*.aux
/notes/*/*.bbl
/notes/*/*.blg
/notes/*/*.log
/notes/power_spectrum/power_spectrum.pdf
/notes/power_spectrum/prv*
/notes/auto/biblio.el
/helpers/.ipynb_checkpoints/
*.pyc
.eggs
.idea
.vscode
build
docs/_build
/subprojects/*
!/subprojects/*.wrap
.junie

# NetCDF files written to the working directory by the test suite
/angstrom_unit.nc
/no_physical_sizes.nc
/no_unit.nc
/parallel_save_test.nc
