name: Flake8

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up python3 ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        sudo apt-get update -qy
        sudo apt-get install -y python3-dev python3-pip libfftw3-dev libopenblas-dev

    - name: Build extension module
      run: |
        python3 -m pip install --no-binary numpy ".[test]"

    - name: Flake8 via pytest
      run: |
        python3 -m pytest --flake8 -m flake8 --verbose --full-trace -s
